.card{
    color:rgb(27, 26, 26);
    background-color: rgb(236, 213, 233);

    padding: 15px, 10px;
}

.card_nome{
    display: block;
    margin-bottom: 5px;

    font-weight: bold;
}

.car_mensagem{
    display: block;
    padding: 0px, 15px;
    margin-bottom: 5px;
}

.container_likes{
    display: flex;
    justify-content: space-between;
}

.card_mensagem-like-button{
    width: 60px;
    height: 30px;

    color: whitesmoke;
    background-color: rgb(131, 10, 121);
    border: 1px solid rgba(255, 255,255, 0.4);
}

.card_mensagem-like-button:hover{
    font-weight: bold;
    background-color: rgb(151, 15, 151);
    border: 1px solid rgba(255, 255, 255,0.9);
}